Projekte/GartenWemos PRO/Garten_Wemos_Pro.json
[{"id":"e148900a.afecf8","type":"tab","label":"Garten-Wemos PRO","disabled":false,"info":""},{"id":"f4c17770.946e9","type":"mqtt in","z":"e148900a.afecf8","name":"Taster Status","topic":"Taster","qos":"2","datatype":"auto","broker":"4f8d83de.93e1cc","nl":false,"rap":true,"rh":0,"x":930,"y":520,"wires":[["473884f.d6f7afc"]]},{"id":"473884f.d6f7afc","type":"debug","z":"e148900a.afecf8","name":"Taster Status","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1190,"y":520,"wires":[]},{"id":"bc81ad12.3adfa8","type":"inject","z":"e148900a.afecf8","name":"rot","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"rot","payloadType":"str","x":290,"y":120,"wires":[["bfaacd04.5f6548"]]},{"id":"bfaacd04.5f6548","type":"mqtt out","z":"e148900a.afecf8","name":"LED","topic":"LED","qos":"2","retain":"false","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"4f8d83de.93e1cc","x":510,"y":180,"wires":[]},{"id":"524217dd.eb2c28","type":"inject","z":"e148900a.afecf8","name":"gruen","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"gruen","payloadType":"str","x":290,"y":160,"wires":[["bfaacd04.5f6548"]]},{"id":"6ba9fd79.540154","type":"inject","z":"e148900a.afecf8","name":"gelb","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"gelb","payloadType":"str","x":290,"y":200,"wires":[["bfaacd04.5f6548"]]},{"id":"81104f0c.019908","type":"inject","z":"e148900a.afecf8","name":"OFF","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"OFF","payloadType":"str","x":290,"y":240,"wires":[["bfaacd04.5f6548"]]},{"id":"214b4c11.bb3124","type":"inject","z":"e148900a.afecf8","name":"LDR Anfrage - CH4","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"CH4","payloadType":"str","x":250,"y":640,"wires":[["c9756501.7e1b6"]]},{"id":"c9756501.7e1b6","type":"mqtt out","z":"e148900a.afecf8","name":"Analog Sensoren","topic":"AnalogSensor","qos":"2","retain":"false","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"4f8d83de.93e1cc","x":550,"y":560,"wires":[]},{"id":"6896d3ec.97df14","type":"mqtt in","z":"e148900a.afecf8","name":"LDR Wert","topic":"LDR","qos":"2","datatype":"auto","broker":"4f8d83de.93e1cc","nl":false,"rap":true,"rh":0,"x":920,"y":760,"wires":[["bf8b96c6.e449d"]]},{"id":"bf8b96c6.e449d","type":"debug","z":"e148900a.afecf8","name":"LDR","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1170,"y":760,"wires":[]},{"id":"78e43956.c32cd8","type":"inject","z":"e148900a.afecf8","name":"Sensor 1 Anfrage - CH1","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"CH1","payloadType":"str","x":240,"y":460,"wires":[["c9756501.7e1b6"]]},{"id":"4c5d5afd.4ad2d4","type":"inject","z":"e148900a.afecf8","name":"Sensor 2 Anfrage - CH2","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"CH2","payloadType":"str","x":240,"y":520,"wires":[["c9756501.7e1b6"]]},{"id":"4eab510b.40882","type":"inject","z":"e148900a.afecf8","name":"Sensor 3 Anfrage - CH3","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"CH3","payloadType":"str","x":240,"y":580,"wires":[["c9756501.7e1b6"]]},{"id":"fbd6d1f1.c8a4a","type":"mqtt in","z":"e148900a.afecf8","name":"Bodenfeuchte 1","topic":"Bodenfeuchte1","qos":"2","datatype":"auto","broker":"4f8d83de.93e1cc","nl":false,"rap":true,"rh":0,"x":940,"y":580,"wires":[["fd2e70b2.4681c"]]},{"id":"fd2e70b2.4681c","type":"debug","z":"e148900a.afecf8","name":"Bodenfeuchte 1","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1200,"y":580,"wires":[]},{"id":"5cea5d04.5a485c","type":"mqtt in","z":"e148900a.afecf8","name":"Bodenfeuchte 2","topic":"Bodenfeuchte2","qos":"2","datatype":"auto","broker":"4f8d83de.93e1cc","nl":false,"rap":true,"rh":0,"x":940,"y":640,"wires":[["cec58488.300498"]]},{"id":"cec58488.300498","type":"debug","z":"e148900a.afecf8","name":"Bodenfeuchte 2","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1200,"y":640,"wires":[]},{"id":"f20905ea.025c2","type":"mqtt in","z":"e148900a.afecf8","name":"Bodenfeuchte 3","topic":"Bodenfeuchte3","qos":"2","datatype":"auto","broker":"4f8d83de.93e1cc","nl":false,"rap":true,"rh":0,"x":940,"y":700,"wires":[["e6acbc86.dcf87"]]},{"id":"e6acbc86.dcf87","type":"debug","z":"e148900a.afecf8","name":"Bodenfeuchte 3","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1200,"y":700,"wires":[]},{"id":"97f72ae8.35e7","type":"stoptimer","z":"e148900a.afecf8","duration":"5","units":"Second","payloadtype":"str","payloadval":"OFF","name":"Pumpe Laufzeit 5s","x":1110,"y":80,"wires":[[],["484f9a56.2f2c04"]]},{"id":"97257747.ab1088","type":"inject","z":"e148900a.afecf8","name":"Output 1 ON-OFF","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"ON","payloadType":"str","x":830,"y":100,"wires":[["97f72ae8.35e7","bcb17c91.cf0fb"]]},{"id":"bcb17c91.cf0fb","type":"mqtt out","z":"e148900a.afecf8","name":"Out 1 ein","topic":"Out1","qos":"0","retain":"false","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"4f8d83de.93e1cc","x":1080,"y":140,"wires":[]},{"id":"484f9a56.2f2c04","type":"mqtt out","z":"e148900a.afecf8","name":"Out 1 aus","topic":"Out1","qos":"0","retain":"false","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"4f8d83de.93e1cc","x":1300,"y":80,"wires":[]},{"id":"13a28f98.f4336","type":"mqtt in","z":"e148900a.afecf8","name":"Out 1 Status","topic":"StatusOut1","qos":"2","datatype":"auto","broker":"4f8d83de.93e1cc","nl":false,"rap":true,"rh":0,"x":930,"y":820,"wires":[["bd9d8bd8.46fb8"]]},{"id":"bd9d8bd8.46fb8","type":"debug","z":"e148900a.afecf8","name":"Out 1 Status","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1190,"y":820,"wires":[]},{"id":"52ef05e0.e986a4","type":"stoptimer","z":"e148900a.afecf8","duration":"5","units":"Second","payloadtype":"str","payloadval":"OFF","name":"Pumpe Laufzeit 5s","x":1110,"y":260,"wires":[[],["ce8d3bf7.92a328"]]},{"id":"d73104db.93c7c","type":"inject","z":"e148900a.afecf8","name":"Output 2 ON-OFF","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"ON","payloadType":"str","x":830,"y":280,"wires":[["52ef05e0.e986a4","574262db.6c62d4"]]},{"id":"574262db.6c62d4","type":"mqtt out","z":"e148900a.afecf8","name":"Out 2 ein","topic":"Out2","qos":"0","retain":"false","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"4f8d83de.93e1cc","x":1080,"y":320,"wires":[]},{"id":"ce8d3bf7.92a328","type":"mqtt out","z":"e148900a.afecf8","name":"Out 2 aus","topic":"Out2","qos":"0","retain":"false","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"4f8d83de.93e1cc","x":1300,"y":260,"wires":[]},{"id":"e5bd64af.40786","type":"mqtt in","z":"e148900a.afecf8","name":"Out 2 Status","topic":"StatusOut2","qos":"2","datatype":"auto","broker":"4f8d83de.93e1cc","nl":false,"rap":true,"rh":0,"x":930,"y":880,"wires":[["156f0987.0e03a6"]]},{"id":"156f0987.0e03a6","type":"debug","z":"e148900a.afecf8","name":"Out 2 Status","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1190,"y":880,"wires":[]},{"id":"93937b1.17a7a88","type":"mqtt in","z":"e148900a.afecf8","name":"Wassterstand","topic":"Wasserstand","qos":"2","datatype":"auto","broker":"4f8d83de.93e1cc","nl":false,"rap":true,"rh":0,"x":930,"y":460,"wires":[["c03e6f4b.76ab38"]]},{"id":"c03e6f4b.76ab38","type":"debug","z":"e148900a.afecf8","name":"Taster Status","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1190,"y":460,"wires":[]},{"id":"a39756dc.7beba","type":"stoptimer","z":"e148900a.afecf8","duration":"60","units":"Second","payloadtype":"str","payloadval":"OFF","name":"Pumpe Laufzeit 60s ","x":1200,"y":1080,"wires":[[],["21239cc1.e10a8c"]]},{"id":"c367e5be.1791a","type":"switch","z":"e148900a.afecf8","name":"Bei mehr als 400 - Bewässern","property":"payload","propertyType":"msg","rules":[{"t":"gt","v":"400","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":590,"y":1020,"wires":[["8e82a8d7.12c9f"]]},{"id":"8e82a8d7.12c9f","type":"counter","z":"e148900a.afecf8","name":"","init":"1","step":"1","lower":"","upper":"","mode":"increment","outputs":2,"x":820,"y":1020,"wires":[["e9b12055.333b98"],[]]},{"id":"e9b12055.333b98","type":"switch","z":"e148900a.afecf8","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"2","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":990,"y":1020,"wires":[["437dfe99.e556","a39756dc.7beba"]]},{"id":"44af56c5.a1ac3","type":"time-range-switch","z":"e148900a.afecf8","name":"Morgen 5:30","lat":"","lon":"","startTime":"5:30","endTime":"5:35","startOffset":0,"endOffset":0,"x":330,"y":1020,"wires":[["c367e5be.1791a"],["1d0b6310.b82405"]]},{"id":"437dfe99.e556","type":"change","z":"e148900a.afecf8","name":"Setze Ausgang auf ON","rules":[{"t":"set","p":"payload","pt":"msg","to":"ON","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1200,"y":1020,"wires":[["d5297f0b.c19508"]]},{"id":"1d0b6310.b82405","type":"function","z":"e148900a.afecf8","name":"Reset Counter","func":"msg.reset = 1;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":540,"y":1080,"wires":[["8e82a8d7.12c9f"]]},{"id":"8e555170.0c20a","type":"mqtt in","z":"e148900a.afecf8","name":"Bodenfeuchte 1","topic":"Bodenfeuchte1","qos":"2","datatype":"auto","broker":"4f8d83de.93e1cc","nl":false,"rap":true,"rh":0,"x":120,"y":1020,"wires":[["44af56c5.a1ac3"]]},{"id":"21239cc1.e10a8c","type":"mqtt out","z":"e148900a.afecf8","name":"Out 1 aus","topic":"Out1","qos":"0","retain":"false","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"4f8d83de.93e1cc","x":1420,"y":1080,"wires":[]},{"id":"d5297f0b.c19508","type":"mqtt out","z":"e148900a.afecf8","name":"Out 1 ein","topic":"Out1","qos":"0","retain":"false","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"4f8d83de.93e1cc","x":1420,"y":1020,"wires":[]},{"id":"647470c9.df5798","type":"mqtt in","z":"e148900a.afecf8","name":"Luftfeuchtigkeit","topic":"humidity","qos":"2","datatype":"auto","broker":"4f8d83de.93e1cc","nl":false,"rap":true,"rh":0,"x":1440,"y":520,"wires":[["be0014c8.bcbc98"]]},{"id":"be0014c8.bcbc98","type":"debug","z":"e148900a.afecf8","name":"Taster Status","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1690,"y":520,"wires":[]},{"id":"f74c81f8.8516d8","type":"mqtt in","z":"e148900a.afecf8","name":"Temperatur","topic":"temperature","qos":"2","datatype":"auto","broker":"4f8d83de.93e1cc","nl":false,"rap":true,"rh":0,"x":1430,"y":460,"wires":[["e33b14cc.981978"]]},{"id":"e33b14cc.981978","type":"debug","z":"e148900a.afecf8","name":"Taster Status","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1690,"y":460,"wires":[]},{"id":"7031f13c.d636f8","type":"mqtt in","z":"e148900a.afecf8","name":"GartenWemos Outtopic","topic":"GartenWemosPro/outTopic","qos":"2","datatype":"auto","broker":"4f8d83de.93e1cc","nl":false,"rap":true,"rh":0,"x":1460,"y":580,"wires":[["4b5464df.64102c"]]},{"id":"4b5464df.64102c","type":"debug","z":"e148900a.afecf8","name":"Taster Status","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1690,"y":580,"wires":[]},{"id":"4f8d83de.93e1cc","type":"mqtt-broker","name":"Rasperry Pi Server","broker":"192.168.0.100","port":"1883","clientid":"","usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""}]