Projekte/GartenWemos BASIC/Node Red Flow Garten-Wemos BASIC
[{"id":"558fc86f.3587e8","type":"tab","label":"Garten-Wemos BASIC","disabled":false,"info":""},{"id":"89f1771.31d3308","type":"mqtt out","z":"558fc86f.3587e8","name":"Pumpe ein","topic":"Pumpe2","qos":"0","retain":"false","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"4f8d83de.93e1cc","x":1710,"y":240,"wires":[]},{"id":"95fd1534.063fc","type":"inject","z":"558fc86f.3587e8","name":"Pumpe ON","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"ON","payloadType":"str","x":1260,"y":240,"wires":[["89f1771.31d3308"]]},{"id":"1017f446.8de96c","type":"mqtt out","z":"558fc86f.3587e8","name":"Pumpe aus","topic":"Pumpe2","qos":"0","retain":"false","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"4f8d83de.93e1cc","x":1710,"y":300,"wires":[]},{"id":"dc1a661a.df5f4","type":"inject","z":"558fc86f.3587e8","name":"Pumpe OFF","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"OFF","payloadType":"str","x":1250,"y":300,"wires":[["1017f446.8de96c"]]},{"id":"72aac69.270d2b8","type":"stoptimer","z":"558fc86f.3587e8","duration":"5","units":"Second","payloadtype":"str","payloadval":"OFF","name":"Pumpe Laufzeit 5s","x":1490,"y":460,"wires":[[],["35b200ff.c9c8d"]]},{"id":"d2222ed9.6cf6a","type":"inject","z":"558fc86f.3587e8","name":"Pumpe ON-OFF","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"ON","payloadType":"str","x":1240,"y":480,"wires":[["72aac69.270d2b8","d11ec7f6.f2819"]]},{"id":"d11ec7f6.f2819","type":"mqtt out","z":"558fc86f.3587e8","name":"Pumpe ein","topic":"Pumpe2","qos":"0","retain":"false","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"4f8d83de.93e1cc","x":1470,"y":520,"wires":[]},{"id":"35b200ff.c9c8d","type":"mqtt out","z":"558fc86f.3587e8","name":"Pumpe aus","topic":"Pumpe2","qos":"0","retain":"false","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"4f8d83de.93e1cc","x":1710,"y":460,"wires":[]},{"id":"4b556902.ce257","type":"mqtt out","z":"558fc86f.3587e8","name":"Pumpe ein","topic":"Pumpe2","qos":"0","retain":"false","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"4f8d83de.93e1cc","x":1890,"y":640,"wires":[]},{"id":"574b7b8b.7ed1dc","type":"stoptimer","z":"558fc86f.3587e8","duration":"60","units":"Second","payloadtype":"str","payloadval":"OFF","name":"Pumpe Laufzeit 60s ","x":1660,"y":700,"wires":[[],["a932c883.c3392"]]},{"id":"a932c883.c3392","type":"mqtt out","z":"558fc86f.3587e8","name":"Pumpe aus","topic":"Pumpe2","qos":"0","retain":"false","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"4f8d83de.93e1cc","x":1890,"y":700,"wires":[]},{"id":"1de3eec.e2dc091","type":"mqtt out","z":"558fc86f.3587e8","name":"Sensor Daten MQTT","topic":"getSensorData","qos":"0","retain":"false","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"4f8d83de.93e1cc","x":1740,"y":360,"wires":[]},{"id":"e8f587dc.8b009","type":"inject","z":"558fc86f.3587e8","name":"Sensor Daten anfragen","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":1220,"y":360,"wires":[["1de3eec.e2dc091"]]},{"id":"e1e3db02.f43758","type":"mqtt in","z":"558fc86f.3587e8","name":"Bodenfeuchte","topic":"Bodenfeuchte2","qos":"2","datatype":"auto","broker":"4f8d83de.93e1cc","nl":false,"rap":true,"rh":0,"x":670,"y":300,"wires":[["28e8fa47.f9ce4e"]]},{"id":"28e8fa47.f9ce4e","type":"debug","z":"558fc86f.3587e8","name":"Bodenfeuchte Messung","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":930,"y":300,"wires":[]},{"id":"18e37fec.7acbd","type":"mqtt in","z":"558fc86f.3587e8","name":"Pumpenstatus","topic":"PumpeStatus2","qos":"2","datatype":"auto","broker":"4f8d83de.93e1cc","nl":false,"rap":true,"rh":0,"x":680,"y":240,"wires":[["f97e03cc.0d56e8"]]},{"id":"f97e03cc.0d56e8","type":"debug","z":"558fc86f.3587e8","name":"Pumpenstatus","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":900,"y":240,"wires":[]},{"id":"5c0534c1.61424c","type":"mqtt in","z":"558fc86f.3587e8","name":"Bodenfeuchte","topic":"Bodenfeuchte2","qos":"2","datatype":"auto","broker":"4f8d83de.93e1cc","nl":false,"rap":true,"rh":0,"x":590,"y":640,"wires":[["6d1ac205.e37f24"]]},{"id":"d3803bc8.2a3ac8","type":"switch","z":"558fc86f.3587e8","name":"Bei mehr als 400 - Bewässern","property":"payload","propertyType":"msg","rules":[{"t":"gt","v":"400","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":1050,"y":640,"wires":[["5489b914.35e328"]]},{"id":"5489b914.35e328","type":"counter","z":"558fc86f.3587e8","name":"","init":"1","step":"1","lower":"","upper":"","mode":"increment","outputs":2,"x":1280,"y":640,"wires":[["3ce0101.184b87"],[]]},{"id":"3ce0101.184b87","type":"switch","z":"558fc86f.3587e8","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"2","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":1450,"y":640,"wires":[["c44f9ba3.586768","574b7b8b.7ed1dc"]]},{"id":"6d1ac205.e37f24","type":"time-range-switch","z":"558fc86f.3587e8","name":"Morgen 5:30","lat":"","lon":"","startTime":"5:30","endTime":"5:35","startOffset":0,"endOffset":0,"x":790,"y":640,"wires":[["d3803bc8.2a3ac8"],["3d71ede5.01f26a"]]},{"id":"c44f9ba3.586768","type":"change","z":"558fc86f.3587e8","name":"Setze Ausgang auf ON","rules":[{"t":"set","p":"payload","pt":"msg","to":"ON","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1660,"y":640,"wires":[["4b556902.ce257"]]},{"id":"3d71ede5.01f26a","type":"function","z":"558fc86f.3587e8","name":"Reset Counter","func":"msg.reset = 1;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1000,"y":700,"wires":[["5489b914.35e328"]]},{"id":"4f8d83de.93e1cc","type":"mqtt-broker","name":"Rasperry Pi Server","broker":"192.168.0.100","port":"1883","clientid":"","usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""}]
